/* Color-Scheme For All Themes*/

* {
    background:         #4e5a6c;
    background-alt:     #5895DC;
    foreground:         #ffffff;
    border:             #5895DC;
    selected:           #5895DC;
    urgent:             #EC407A;
	  logo:               #EC407A;
	  on:                 #61C766;
	  off:                #EC7875;
}
